<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="wrapper row3">
  <main class="container clear"> 
    <div class="content"> 
      <div id="gallery">
        <figure>
          <ul class="nospace clear">
            <li th:each="vo,i:${list}" th:class="${i.index%4==0}?'one_quarter first':'one_quarter'">
            	<a th:href="@{/wine/wine_detail(ino=${vo.ino})}"><img th:src="${vo.poster}"></a>
            </li>
          </ul>
          <figcaption></figcaption>
        </figure>
      </div>
      <nav class="pagination">
        <ul>
          <li th:if="${startpage>1}"><a th:href="@{/wine/cognac_list(page=${startpage-1})}">&laquo; 이전</a></li>
          <li th:class="${curpage==i}?'current':''" th:each="i:${#numbers.sequence(startpage,endpage)}">
          	<a th:href="@{/wine/cognac_list(page=${i})}" th:text="${i}"></a>
          </li>
          <li th:if="${endpage<totalpage}"><a th:href="@{/wine/cognac_list(page=${endpage+1})}">다음 &raquo;</a></li>
        </ul>
      </nav>
    </div>
    <div class="clear"></div>
  </main>
</div>
</body>
</html>