<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="wrapper row3">
  <main class="container clear"> 
    <div class="content"> 
      <div id="gallery">
        <figure>
          <header class="heading">
          	<form method="post" action="/wine/wine_find" class=inline>
          		<input type=text name=nation size=20 class="input-sm">
          		<input type=submit value="검색" class="btn btn-sm">
          	</form>
          </header>
          <ul class="nospace clear">
            <li th:each="vo,i:${list}" th:class="${i.index%4==0}?'one_quarter first':'one_quarter'">
            	<a th:href="@{/food/find_detail(ino=${vo.ino})}"><img th:src="${vo.poster}" th:title="${vo.name}"></a>
            </li>
          </ul>
          <figcaption></figcaption>
        </figure>
      </div>
      <nav class="pagination">
        <ul>
          <li th:if="${startpage>1}"><a th:href="@{/wine/wine_find(page=${startpage-1}, nation=${nation})}">&laquo; 이전</a></li>
          <li th:class="${curpage==i}?'current':''" th:each="i:${#numbers.sequence(startpage,endpage)}">
          	<a th:href="@{/wine/wine_find(page=${i}, nation=${nation})}" th:text="${i}"></a>
          </li>
          <li th:if="${endpage<totalpage}"><a th:href="@{/wine/wine_find(page=${endpage+1}, nation=${nation})}">다음 &raquo;</a></li>
        </ul>
      </nav>
    </div>
    <div class="clear"></div>
  </main>
</div>
</body>
</html>