<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper row3">
  <main class="container clear"> 
  	<div class=jumbotron>
  		<h3 class="text-center" th:text="${nation}"></h3>
  	</div>
  	<div class=row>
  		<table class="table">
		  <tr>
		  	<td>
				<table class="table" th:each="vo:${list}">
				  <tr>
				  	<td width=30% class="text-center" rowspan="4">
				  	  <a th:href="@{/wine/wine_detail(ino=${vo.ino})}">
				  		<img th:src="${vo.poster}" style="width: 200px" class="img-rounded">
				  	  </a>
				  	</td>
				  	<td width=70%>
				  		<a th:href="@{/wine/wine_detail(ino=${vo.ino})}">
				  			<h3 th:text="${vo.name}" style="display:inline;float:left"></h3>
				  		</a>
				  		<h3 th:text="${vo.price}" style="color:orange;display:inline;float:left"></h3>
				  	</td>
				  </tr>
				  <tr>
				  	<td width=70% th:text="${vo.alcohol}"></td>
				  </tr>
				  <tr>
				  	<td width=70% th:text="${vo.vintage}"></td>
				  </tr>
				  <tr>
				  	<td width=70% th:text="${vo.capacity}"></td>
				  </tr>
				</table>
		  	</td>
		  </tr>
		</table>
  	</div>
  </main>
</div>
</body>
</html>