@charset "UTF-8";
@charset "utf-8";
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,pre{margin: 0;padding: 0;font-size: 14px;color: #111;font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";line-height: 1.5;font-weight: 400;}
td,th{padding: 0;font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-weight: 400;font-size: 14px;color: #111;word-break: break-all;}
a,span{color: inherit;font-size: inherit;font-weight: inherit;line-height: inherit;text-decoration: none;}
body{overflow-y: scroll;position: relative;height: 100%;word-break: keep-all;*word-break: keep-all;-ms-word-break: keep-all;}
img,fieldset,iframe{border: 0 none;}
li{list-style: none;}
input,select,textarea{padding: 0 14px;border: 1px solid #ccc;font-weight: 400;font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
textarea{background-color: #fff !important;}
button{margin: 0;padding: 0;background: none;border: none;vertical-align: top;}
button::-moz-focus-inner{padding: 0;border: 0;}
img{max-width: 100%;max-height: 100%;vertical-align:top}
em,address{font-style: normal;}
label,button{cursor: pointer;}
legend{width: 0;}
table{width: 100%;border-collapse: collapse;border-spacing: 0;}
pre{white-space: pre-line;}

#wrap{min-width: 1100px;}
#content{margin-bottom: 150px;}
.container{width: 1040px;margin: 0 auto;}


/* position */
.por{position: relative;}
.poa{position: absolute;}
.pof{position: fixed;}


/* img */
.imgz{width: 100%;}
.vam{vertical-align: middle;}


/* text */
.tov2{display: -webkit-box;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.tac{text-align:center;}
.tar{text-align: right;}

.fwb{font-weight: bold;}


/* margin & padding */
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt50{padding-top: 50px;}

.pb50{padding-bottom: 50px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb100{margin-bottom: 100px;}


/* display */
.dn{display: none;}
.dib{display: inline-block;}
.db{display: block;}
.dt{display: table;width: 100%;height: 100%;}
.dtr{display: table-row;width: 100%;}
.dtc{display: table-cell;vertical-align: middle;}
.ti,.blind{position: absolute !important;clip: rect(0,0,0,0);clip-path: polygon(0 0,0 0,0 0);width: 1px;height: 1px;margin: -1px;overflow: hidden;white-space: nowrap;}


/* float */
.fl{float: left;}
.fr{float: right;}
.flul>li{float: left;}
.flul:after{content: "";display: block;clear: both;}
.cb:after{content: "";display: block;clear: both;}


/* pagination */
.page_num{position: relative;margin: 40px 0 0;text-align: center;font-size: 0;}
.page_num a{display: inline-block;width: 26px;height: 26px;margin-left: 10px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;text-align: center;color: #111;line-height: 26px;font-size: 14px;vertical-align: middle;cursor: pointer;}
.page_num .active{position: relative;z-index: 1;color: #fff;background-color: #7814dc;}
.page_num .page{border: 1px solid #707070;text-indent: -9999px;}
.page_num .first{display: none;background: url('https://front-img.taling.me/Content/Images/Vod/btn_page_first.png') 50% 50%/9px 11px no-repeat;}
.page_num .last{display: none;background: url('https://front-img.taling.me/Content/Images/Vod/btn_page_last.png') 50% 50%/9px 11px no-repeat;}
.page_num .l{background: url('https://front-img.taling.me/Content/app3/images/btn/btn_page_prev_bold.png') 50% 50%/5px 10px no-repeat;}
.page_num .r{background: url('https://front-img.taling.me/Content/app3/images/btn/btn_page_next_bold.png') 50% 50%/5px 10px no-repeat;}
.page_num .ellipsis{width: 22px;text-indent: -9999px;background: url('https://front-img.taling.me/Content/app3/images/class/icon_ellipsis.png') 0 50%/20px 26px no-repeat;cursor: default;pointer-events: none;}


/* placeholder */
input::placeholder{color: #999;}
input::-webkit-input-placeholder{color: #999;}
input:-ms-input-placeholder{color: #999;}
input::-moz-placeholder{color: #999;}

/* focus */
input:focus,button:focus{outline: none;}