@charset "UTF-8";
.mintBtn{
	text-align: center;
	width:70px;
	height:25px;
	background-color: #45c5c5;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	font-size: 10px;
	padding: 5px 7px;;
}
.mintBtn_m{
	text-align: center;
	width:70px;
	height:25px;
	background-color: #45c5c5;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 7px;;
}
.mintBtn_o{
	text-align: center;
	width:70px;
	height:25px;
	background-color: #FFF;
	border: 1px solid #45c5c5;
	color: #45c5c5;
	font-weight: bold;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px 7px;;
}
.shBtn {
	text-align: center;
	width:70px;
	height:25px;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	font-size: 10px;
	padding: 5px 7px;;
}
.my_li {
	padding-bottom: 15px;
}
.my_menu {
	font-size: 15px;
	font-weight: 550;
	color: #45c5c5;
	padding-bottom: 5px;
	margin-left: 10px;
}
.my_menu a {
	font-size: 15px;
	font-weight: 550;
	color: #45c5c5;
}
.my_menu:hover {
	cursor: pointer;
	text-decoration: underline;
}
#my_menus {
	font-size: 17px;
	font-weight: 550;
	color: #45c5c5;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #E2E2E2;
	margin-top: 2px;
	margin-bottom: 10px;
}
#my_menus a {
	font-size: 17px;
	font-weight: 550;
	color: #45c5c5;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 2px;
	margin-bottom: 10px;
}
.my_menu2 {
	color: black;
	font-size: 12px;
	margin-left: 20px;
}
.my_menu2:hover {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}
.my_menu2:active {
	cursor: pointer;
	font-weight: bold;
}
.my-card{
	height: 256px;
	margin: 5px;
	text-align: center;
	float: left;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
.my-card dl{
	margin: 0 auto;
}
.my-card dt{
	color: #FFF;
	font-weight: 700;
	background: #45c5c5;
	padding: 7px 0;
	font-size: 1em;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.my-card dd{
	padding: 10px;
	font-size: 0.9rem;
	text-align: left;
}

/* jjim */
.container .class-box {
    border-bottom: 1px solid #cccfd3;
}

.container .class-box .class-info {
    padding-bottom: 30px;
    display: flex;
}

.container .class-box .class-info .image {
    position: relative;
    width: 320px;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.container .class-box .class-info .image .reward_badge {
    position: absolute;
    left: 12px;
    bottom: 12px;
    width: auto;
    height: 22px;
    padding: 0 10px 0 23px;
    border-radius: 22px;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    color: #000;
    background-repeat: no-repeat;
    background-position: 3px center;
    background-size: 17px;
}

.container .class-box .class-info .image .reward_badge.year {
    left: 10px;
    bottom: 8px;
    width: 31px;
    height: 31px;
    padding: 0;
    border-radius: 0;
    background-position: center;
    background-size: cover;
}

.container .class-box .class-info .image .play_button {
    margin-top: 65px;
    cursor: pointer;
    position: absolute;
    margin-left: 130px;
    z-index: 10;
}

.container .class-box .class-info .image .black_filter {
    width: 320px;
    height: 180px;
    background: #000;
    opacity: 0.6;
}

.container .class-box .class-info .information-box {
    width: 690px;
    padding-top: 10px;
    margin-left: 30px;
}

.container .class-box .review-info {
    border: 1px solid #cccfd3;
    padding: 30px;
    box-sizing: border-box;
    display: none;
    border-radius: 15px;
}

.container .class-box .class-info .information-box p {
    font-size: 14px;
    color: #888;
    letter-spacing: -0.35px;
}

.container .class-box .class-info .information-box p .pink {
    color: #ff005a
}

.container .class-box .class-info .information-box h3 {
    color: #333;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;
    line-height: 2;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.container .class-box .class-info .information-box .badge {
    display: inline-block;
    height: 18px;
    padding-left: 20px;
    padding-right: 6px;
    border-radius: 2px;
    line-height: 18px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    background: no-repeat left center/18px 18px;
}

.container .class-box .class-info .information-box .badge.live {
    background-image: url(//front-img.taling.me/Content/app3/img/icon/icClasscardLive@2x.png);
    background-color: #f20e42;
}

.container .class-box .class-info .information-box .badge.offline {
    background-image: url(//front-img.taling.me/Content/app3/img/icon/icClasscardOffline@2x.png);
    background-color: #3390ff;
}

.container .class-box .class-info .information-box .btn_wrap {
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 20px;
}

.container .class-box .class-info .information-box .btn_wrap [class*="btn_"] {
    width: 180px;
    height: 48px;
    margin-right: 10px;
    border-radius: 8px;
    line-height: 48px;
    text-align: center;
    color: #595D61;
    background-color: #EEF0F4;
    cursor: pointer;
}

.container .class-box .class-info .information-box .btn_wrap [class*="btn_"]:hover {
    background-color: #DDDFE5;
}

.container .class-box .class-info .information-box .btn_wrap [class*="btn_"]:disabled, .container .class-box .class-info .information-box .btn_wrap [class*="btn_"].disabled {
    color: #CCD0D7;
    background-color: #FAFAFC;
    cursor: default;
}

.container .class-box .class-info .information-box .btn_wrap [class*="btn_"]:last-child {
    margin-right: 0;
}

.container .class-box .class-info .information-box .btn_wrap .btn_live {
    color: #fff;
    background-color: #ff0045;
}

.container .class-box .class-info .information-box .btn_wrap .btn_live:hover {
    background-color: #E0003C;
}

.container .class-box .class-info .information-box .btn_wrap .btn_live:disabled {
    color: #fa8a94;
    background-color: #ffe5ec;
    cursor: default;
}

.container .class-box .stars-box .class-type {
    color: #888;
    letter-spacing: -0.35px;
    font-size: 14px;
}

.container .class-box .stars-box .class-stars img {
    width: 15px;
    margin-left: -2px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.container .class-box .stars-box span {
    font-size: 14px;
    color: #888;
    letter-spacing: -0.35px;
}

.container .class-box .class-info .information-box .start-date {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
    letter-spacing: -0.35px;
}

.container .class-box .class-info .information-box .review-fold {
    font-size: 14px;
    color: #888;
    letter-spacing: -0.35px;
    line-height: 2.36;
    margin-top: 10px;
}

.container .class-box .class-info .information-box .review-fold .arrw {
    margin-top: -13px;
    margin-left: 5px;
    position: absolute;
    width: 16px;
}

.container .class-box .class-info .information-box .review-fold .arrw-box {
    overflow: hidden;
    display: inline-block;
}

.container .class-box .class-info .information-box .review-fold .arrw.up {
    display: none;
}

.container .class-box .class-info .information-box .review-fold.on {
    color: #ff005a;
}

.container .class-box .class-info .information-box .price {
    font-size: 24px;
    letter-spacing: -0.6px;
    color: #ff005a;
    font-weight: 500;
    text-align: right;
    padding-right: 120px;
    margin-top: -25px;
}

.container .class-box .class-info .information-box .price font {
    font-size: 14px;
}

.container .class-box .class-info .information-box .price .hour_unit {
    margin-left: 4px;
    font-size: 12px;
    letter-spacing: -0.3px;
    line-height: 15px;
    font-weight: normal;
    color: #111;
}

/* class */
.tutee_list {
  margin: 0 0 -40px -40px;
  font-size: 0;
}

.tutee_list li {
  display: inline-block;
  width: calc(33.333% - 40px);
  margin: 0 0 40px 40px;
}

.tutee_list li:hover .thumb_box a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://front-img.taling.me/Content/app3/images/vod/icon_play.png) rgba(0, 0, 0, 0.2) no-repeat center/15% 26.96%;
}

.tutee_list .thumb_box {
  overflow: hidden;
  position: relative;
  padding-top: 55.63%;
  border-radius: 15px 15px 0 0;
}

.tutee_list .thumb_box a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tutee_list .thumb_box img {
  width: 100%;
  height: 100%;
}

.tutee_list .thumb_box .reward_badge {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: auto;
  height: 22px;
  padding: 0 10px 0 23px;
  border-radius: 22px;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  color: #000;
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: 17px;
}

.tutee_list .thumb_box .reward_badge.year {
  left: 10px;
  bottom: 8px;
  width: 31px;
  height: 31px;
  padding: 0;
  border-radius: 0;
  background-position: center;
  background-size: cover;
}

.tutee_list .text_box {
  padding: 12px 16px 15px;
  border: 1px solid #eee;
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.tutee_list .title {
  display: block;
  overflow: hidden;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tutee_list .course_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tutee_list .tutor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% - 53px);
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #666;
}

.tutee_list .profile {
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.tutee_list .profile::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
}

.tutee_list .label {
  height: 22px;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  color: #fff;
  background-color: #7814dc;
}

.tutee_list .progress_box {
  margin-bottom: 20px;
}

.tutee_list .progress_box::after {
  content: '';
  display: block;
  clear: both;
}

.tutee_list .progress_bar {
  position: relative;
  width: 100%;
  height: 5px;
  margin-bottom: 7px;
  background-color: #eee;
}

.tutee_list .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  background-color: #7814dc;
}

.tutee_list .play_time {
  float: left;
  width: 35%;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #7814dc;
}

.tutee_list .due_date {
  float: right;
  width: 65%;
  text-align: right;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #666;
}

.tutee_list .due_date.act {
  color: #ff5d5d;
}

.tutee_list .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.tutee_list .btn_box .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 48px;
  margin-left: 9px;
  border-radius: 6px;
  line-height: 48px;
  letter-spacing: -0.35px;
  background-color: #f6f6f6;
}

.tutee_list .btn_box .btn:hover {
  background-color: #eee;
}

.tutee_list .btn_box .btn_intro {
  margin-left: 0;
}

.tutee_list .btn_box .icon {
  display: inline-block;
  width: 10px;
  height: 13px;
  margin-right: 5px;
  vertical-align: middle;
  background: url(https://front-img.taling.me/Content/app3/images/btn/icon_write.png) no-repeat center/cover;
}

.tutee_list .btn_box .btn_period {
  color: #7814dc;
  background-color: #f2e8fd;
}

.tutee_list .btn_box .btn_period:hover {
  background-color: #ecd8fe;
}

.tutee_list .btn_box .btn_space {
  margin: 8px 0 0 0;
}

.tutee_list .btn_box .btn_space.disabled {
  cursor: default;
  color: #bbb;
  background-color: #f6f6f6;
}

.tutee_list .btn_box .btn_space .beta {
  display: inline-block;
    width: 26px;
    height: 18px;
    margin-left: 4px;
    vertical-align: middle;
    background: url(//front-img.taling.me/Content/app3/img/bg/img-beta-black-26@2x.png) no-repeat center/100% auto;
}

.tutee_list .btn_box .btn_space.disabled .beta {
  background-image: url(//front-img.taling.me/Content/app3/img/bg/img-beta-gray-26@2x.png);
}

.btn_faq {
  display: block;
  width: 219px;
  margin: -30px auto 50px;
  padding: 16px 0;
  border-radius: 8px;
  border: 1px solid #7814dc;
  font-weight: 500;
  line-height: 20px;
  color: #7814dc;
}

/* table */
.origin {
	overflow:hidden;
	white-space : nowrap;
	text-overflow: ellipsis;
}
.page_ul {
	list-style: none;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.page_li {
  	display: inline-block;
}
.page_a {
    transition: all 100ms ease-in-out 0s;
    background-color: #dcdce0;
    border-radius: 5px 5px 5px 5px;
    color: #69696E;
    display: block;
    font: 12px/30px Arial, sans-serif;
    height: 30px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    width: 30px;
}
.page_a:hover {
    background-color: #27375C;
    color: #FFFFFF;
}
.page_li.active page_a {
    background-color: #27375C;
    color: #FFFFFF;
}
.page_li.active page_a:hover {
    color: #FFFFFF;
}
.li_active {
	background-color: #27375C;
	color: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	z-index: 2;
}