<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" th:href="@{/}" style="color:#BB2649">Viva Wine</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a th:href="@{/}" class="nav-link" style="color:#BB2649;font-weight:bold">Home</a></li>
	          <li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCT</a>
	              <div class="dropdown-menu" aria-labelledby="dropdown04">
	              	<a class="dropdown-item" th:href="@{/wine/wine_list}">와인</a>
	                <a class="dropdown-item" th:href="@{/wine/whiskey_list}">위스키</a>
	                <a class="dropdown-item" th:href="@{/wine/cognac_list}">꼬냑</a>
	              </div>
              </li>
	          <li class="nav-item"><a th:href="@{/wine/wine_find}" class="nav-link">NATION</a></li>
	          <li class="nav-item"><a th:href="@{/recipe/recipe_list}" class="nav-link">RECIPE</a></li>
	          <li class="nav-item"><a th:href="@{/board/board_list}" class="nav-link">NOTICE</a></li>
	          <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
</th:block>
</body>
</html>