<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="hero-wrap hero-bread" style="background-image: url('../images/oak.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Notice</h1>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 30px"></div>
    
    <div class="container">
    	<div class="row">
	  	  <table class="table">
	        <tr>
	         <td class="text-left" style="padding: 2px;border:none;"><a href="/board/board_insert" class="btn btn-sm btn-danger">새글</a></td>
	        </tr>
	      </table>
	      <div>
		      <table class="table">
		       <thead>
		        <tr>
		          <th width=10% class="text-center">번호</th>
		          <th width=45% class="text-center">제목</th>
		          <th width=15% class="text-center">이름</th>
		          <th width=20% class="text-center">작성일</th>
		          <th width=10% class="text-center">조회수</th>
		        </tr>
		       </thead>
		       <tbody>
		          <tr th:each="vo:${list}" style="line-height: 0">
		              <td width=10% class="text-center" th:text="${vo.no}"></td>
			          <td width=45% class="text-left"><a th:href="@{/board/board_detail(no=${vo.no})}" th:text="${vo.subject}"></a></td>
			          <td width=15% class="text-center" th:text="${vo.name}"></td>
			          <td width=20% class="text-center" th:text="${vo.regdate}"></td>
			          <td width=10% class="text-center" th:text="${vo.hit}"></td>
		          </tr>
		       </tbody>
		      </table>
	      </div>
	      <table class="table">
	      	<tr>
		      <td style="padding: 2px;border:none;">
		        <a th:href="@{/board/board_list(page=${curpage>1?curpage-1:curpage})}" class="btn btn-sm btn-danger">이전</a>
		    	    <span th:text="${curpage}"></span> page / <span th:text="${totalpage}"></span> pages
		        <a th:href="@{/board/board_list(page=${curpage<totalpage?curpage+1:curpage})}" class="btn btn-sm btn-danger">다음</a>
		      </td>
		    </tr>
	      </table>
      	</div>
    </div>
</body>
</html>