<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
* {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
</style>
</head>
<body>
<div class="wrapper row3">
  <main class="container clear"> 
  	  <table class="table">
        <tr>
         <td><a href="/board/board_insert" class="shBtn">새글</a></td>
        </tr>
      </table>
      <div style="height: 420px;">
	      <table class="table" style="text-align: center">
	       <thead>
	        <tr>
	          <th width=10% class="text-center">번호</th>
	          <th width=45% class="text-center">제목</th>
	          <th width=15% class="text-center">이름</th>
	          <th width=20% class="text-center">작성일</th>
	          <th width=10% class="text-center">조회수</th>
	        </tr>
	       </thead>
	       <tbody>
	          <tr th:each="vo:${list}">
	              <td width=10% class="text-center" th:text="${vo.no}"></td>
		          <td width=45%><a th:href="@{/board/board_detail(no=${vo.no})}" th:text="${vo.subject}"></a></td>
		          <td width=15% class="text-center" th:text="${vo.name}"></td>
		          <td width=20% class="text-center" th:text="${vo.regdate}"></td>
		          <td width=10% class="text-center" th:text="${vo.hit}"></td>
	          </tr>
	       </tbody>
	      </table>
      </div>
      <table class="table">
      	<tr>
	      <td class="text-right">
	        <a th:href="@{/board/board_list(page=${curpage>1?curpage-1:curpage})}" class="shBtn">이전</a>
	    	    <span th:text="${curpage}"></span> page / <span th:text="${totalpage}"></span> pages
	        <a th:href="@{/board/board_list(page=${curpage<totalpage?curpage+1:curpage})}" class="shBtn">다음</a>
	      </td>
	    </tr>
      </table>
  </main>
</div>
</body>
</html>