<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="hero-wrap hero-bread" style="background-image: url('../images/oak.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Notice Detail</h1>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 30px"></div>

	<div class="container">
    	<div class="row">
	  	<table class="table">
	      <tr>
	        <th width=20% class="text-center" style="padding: 10px">번호</th>
	        <td width=30% class="text-center" style="padding: 10px" th:text="${vo.no}"></td>
	        <th width=20% class="text-center" style="padding: 10px">작성일</th>
	        <td width=30% class="text-center" style="padding: 10px" th:text="${vo.regdate}"></td>
	      </tr>
	      <tr>
	        <th width=20% class="text-center" style="padding: 10px">이름</th>
	        <td width=30% class="text-center" style="padding: 10px" th:text="${vo.name}"></td>
	        <th width=20% class="text-center" style="padding: 10px">조회수</th>
	        <td width=30% class="text-center" style="padding: 10px" th:text="${vo.hit}"></td>
	      </tr>
	      <tr>
	        <th width=20% class="text-center" style="padding: 10px">제목</th>
	        <td class="text-left" colspan="3" th:text="${vo.subject}" style="padding: 10px"></td>
	      </tr>
	      <tr>
	        <td colspan="4" class="text-left" style="height:200;vertical-align:top">
	        	<pre style="white-space: pre-wrap;background-color: white;border:none;height:250px;overflow-y: scroll;" th:text="${vo.content}"></pre>
	        </td>
	      </tr>
	      <tr>
	        <td colspan="4" class="text-right">
	          <a th:href="@{/board/board_update(no=${vo.no})}" class="btn btn-sm btn-info">수정</a>
	          <a th:href="@{/board/board_delete(no=${vo.no})}" class="btn btn-sm btn-danger">삭제</a>
	          <a href="/board/board_list" class="btn btn-sm btn-success">목록</a>
	        </td>
	      </tr>
	     </table>
     	 </div>
     </div>
</body>
</html>