<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="wrapper row3">
  <main class="container clear"> 
	<form method="post" action="/board/board_delete_ok">
      <table class="table">
        <tr>
          <td>
         	 비밀번호:<input type=password name=pwd class="input-sm" size=15>
          	<input type=hidden name=no th:value="${no }">
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <input type=submit value="삭제" class="btn btn-sm btn-danger">
            <input type=button value="취소" class="btn btn-sm btn-primary" onclick="javascript:history.back()">
          </td>
        </tr>
      </table>
     </form>
   </main>
</div>
</body>
</html>